**
!Dockerfile
!root/
!root/defaults/
!root/defaults/qBittorrent.conf
!root/defaults/watched_folders.json
!root/defaults/qbtcheck
!root/etc/
!root/etc/**
!root/defaults/appbox-qui.py
!root/defaults/qui-nginx.conf
